* {
  margin: 0px;
  padding: 0px;
}
body,
html {
  width: 100%;
  height: 100%;
}
main {
  display: flex;
  width: 100%;
  height: 100%;
}
.menu-side {
  width: 20%;
  height: 60%;
  display: flex;
}
.mainContent {
  width: 80%;
  height: 60%;
  border: 2px solid black;
}
.main-nav {
  padding-top: 5vh;
  display: flex;
}
.main-nav ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.main-nav ul li {
  padding-left: 5%;
  width: 100%;
  list-style: none;
}
.anime div {
  display: flex;
}
