@import "../helpers/variables";

#burger-menu {
  z-index: 25;

  color: $main;
  font-size: 3em;

  position: absolute;
  top: 25px;
  right: 25px;

  cursor: pointer;

  @media (min-width:1000px) {
    display: none;
  }

}