.mainContent {
  width: calc(200vw/3);
  height: 100%;
}

.anime-block {
  margin-left: 5%;
  width: 30%;
  height: 20%;
  border: 2px plum solid;
}

.anime-block div div {
  display: flex;
}

.anime-block .animeLeftPart {
  width: 50%;
  background: rebeccapurple;
}

.anime-block h1 {
  font-size: 0.9vw;
}

.anime-block img {
  width: 100%;
}
