.mainContent {
    width: calc(200vw/3);
    height: 100%;

}
.anime{
    border: 2px solid black;
}
.anime-block{
    margin-left: 5%;
    width: 30%;
    height: 20%;
    border: 2px solid black;
    div{
        div{
            display: flex;
        }
       
    }
    .animeLeftPart{
        width: 50%;
        background: rebeccapurple;
    }
    h1{
        font-size: 10%;
    }
}

