@import "../helpers/variables";

.banner {
  z-index:30;
  width: 100vw;
  border-bottom: 2px solid $main;

  display: flex;
  justify-content: center;

  img {
    width: 100%;
    min-width: 750px;
  }

  @media (max-width: 1000px) {
    position: fixed;
  }
}